<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Thai:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <style type="text/css">
        * {
            font-family: "Noto Serif Thai", serif;
        }
    </style>
</head>

<body>
    <div class="max-w-full px-6 lg:px-8 py-12 sm:py-16 text-left">
        <h2 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-6xl pb-4 sm:pb-2">{{ page.title }}</h2>
        <nav class="breadcrumb">
            <ul class="text-base font-semibold list-none m-0 p-0 flex flex-row flex-wrap">
                <li><a class="no-wrap" href="{{ "/" | relative_url }}">{{ site.title }}</a></li>
                <li><a class="no-wrap" href="{{ page.url | relative_url }}">{{ page.title }}</a></li>
            </ul>
        </nav>
    </div>
    <section class="max-w-full px-6 lg:px-8 markdown pb-24 grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-8">
        <div class="flex"><img src="{{ "/assets/covers/" | relative_url }}{{ page.cover }}"></div>
        <article class="flex">{{ content }}</article>
    </section>
</body>

</html>